body{
 background-image:url(office.jpg) ;  
 background-size: cover; 
 margin: 60px 40px;
}
span{
    border-bottom: 4px solid #0ea5e9;
}
.btn{
    background: #0ea5e9;
    padding: 10px 20px;
    border-color: #0ea5e9;
}